.contact-page {
    display: flex;
        justify-content: space-around;
}

.contact-form {
    width: 60%;
}

.contact-form>h2 {
    margin: 20px;
}

.contact-form>form {
    background-color: #EFEBCA;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    display: flex;
        flex-direction: column;
}

.contact-form>form>label {
    margin: 10px;
}

#issue-options {
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
}

#issue-text {
    height: 150px;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

#issue-pic {
    height: 30px;
    width: 250px;
    font-size: 16px;
    margin: 15px;
    border: 0px;
    border-radius: 0px;
}

#issue-submit {
    background-color: #24873A;
    color: #FFFDED;
    width: 15%;
    align-self: flex-end;
}

.contact-container {
    display: flex;
        flex-direction: column;
        align-items: center;
}

.contact-container>h2 {
    margin: 20px;
}

.contact {
    background-color: #EFEBCA;
    border: 1px solid black;
    border-radius: 25px;
    width: 60%;
    padding: 10px;
    display: flex;
        flex-direction: column;
}

.contact-container.logged-in {
    width: 30%;
    align-items: flex-start;
}

.contact-container.logged-in>.contact {
    width: 100%;
}

.info {
    width: 90%;
    display: flex;
        justify-content: space-between;
}

.info.logged-in {
    flex-direction: column;
}

#juan-info {
    margin: 15px;

}

#babryz-info {
    margin: 15px;
}

.contact-text {
    margin-bottom: 20px;
    margin: 10px;
}