* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFDED;
}

.container {
  margin: 35px;
  padding: 10px;
  background-color: #EFEBCA;
  border-radius: 5em;
  border: 1px solid black;
  display: flex;
}

ul {
  list-style: none;
}

.standardBtn {
  background-color: #24873A;
  border: 2px solid black;
  border-radius: 1em;
  color: #EFEBCA;
  font-size: 18px;
  padding: 2px 20px;
  margin: 8px;
  cursor: pointer;
}

.standardBtn:hover {
  box-shadow: 0px 0px 5px black;
}